[Unit]
AssertPathExists=/usr/bin/dbus-ws-proxy
Requires=dbus.socket

[Service]
Slice=session.slice
ExecStart=/usr/bin/dbus-ws-proxy
Restart=on-failure
NoNewPrivileges=true
Type=simple

[Install]
Alias=dbus-ws-proxy
WantedBy=default.target